$bg: #000000a3;
$white: #ffffff;
$lime: #7fc400;
$dark-text: #232128;
$light-bg: #ffeded;
$light-border: #dcdcdd;
$grey-link: #6a696f;

.log-in {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background: $bg;

    .log-in_section {
        width: 416px;
        height: 445px;
        border-radius: 6px;
        background-color: $white;
        padding: 15px 45px 35px;

        .log-in_close {
            position: relative;
            float: right;
            cursor: pointer;
            right: -20px;
        }

        form {
            padding-top: 25px;

            .log-in_data {
                text-align: center;

                .log-in_title {
                    font-size: 30px;
                    line-height: 36px;
                    color: $dark-text;
                    font-family: "Work Sans";
                    font-weight: 600;
                }

                .log-in_inputs {
                    padding-top: 20px;

                    input {
                        width: 320px;
                        height: 48px;
                        border-radius: 24px;
                        background-color: $light-bg;
                        border: 1px solid $light-border;
                        padding: 15px;
                        margin: 10px 0 0;
                        outline: none;
                        cursor: text;
                    }

                    a {
                        display: block;
                        padding-top: 5px;
                        padding-bottom: 25px;
                        text-align: left;
                        font-size: 14px;
                        line-height: 24px;
                        color: $grey-link;
                        font-family: "Open Sans";
                        font-weight: 400;
                        text-decoration: underline;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .log-in_button {
                width: 320px;
                height: 48px;
                border: none;
                border-radius: 24px;
                background-color: $lime;
                outline: none;
                font-size: 16px;
                color: $white;
                font-family: "Work Sans";
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;

                &:hover {
                    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
                }
            }

            .log-in_button.disabled {
                padding: 5px 10px;
                border: 1px solid #999999;
                background-color: #cccccc;
                color: #666666;
                box-shadow: none;
            }
        }

        .log-in_ask {
            text-align: center;
            padding-top: 35px;

            span {
                font-size: 16px;
                line-height: 18px;
                color: $dark-text;
                font-family: "Open Sans";
                font-weight: 400;
            }
        }
    }

    @media screen and (max-width: 425px) {
        .log-in_section{
            width: 315px;

            form{
                .log-in_data{
                    .log-in_inputs{
                        input{
                            width: 220px;
                        }
                    }
                }

                .log-in_button {
                    width: 220px;     
                }
            }
        }
    }
}