<div class="log-in">
    <div class="log-in_section">
        <div class="log-in_close" (click)="close()"><img src="../../../assets/cancel.png" alt="Close"></div>
        <form [formGroup]="form">
            <div class="log-in_data">
                <span class="log-in_title"> Log in to Speed Painting</span>
                <div class="log-in_inputs">
                    <input formControlName="email" type="email" placeholder="Your email" required>
                    <input formControlName="password" type="password" placeholder="Your password" required>
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
            <button (click)="changeLocation()" [ngClass]="{ disabled: !form.valid }" [disabled]="!form.valid" class="log-in_button">Log in</button> 
        </form>

        <div class="log-in_ask">
            <span>Don't have an account? <a href="#">Join</a></span>
        </div>
    </div>
</div>