<div class="about-speed container-fluid pr40 pl40">
    <div class="header-title">
        <span class="header-title_main">About Speed Painting</span><br>
        <img src="../../../assets/line.png" alt=""><br>
        <div class="header-title_secondary">
            <span>You can draw pictures online on the site while recording the whole process of drawing</span><br>
            <span>and uploading your videos for other artists to popular social networks such as:</span>
        </div>
    </div>

    <div class="social-networks">
        <div class="social-networks_block">
            <div class="social-networks_row">
                <div *ngFor="let socialNetwork of socialNetworksFirstRow; let i=index">
                    <img [src]="socialNetwork.url" [alt]="socialNetwork.name"><br>
                    <span>{{socialNetwork.name}}</span>
                </div>
            </div>
            <div class="social-networks_row">
                <div *ngFor="let network of socialNetworksSecondRow; let i=index">
                        <img [src]="network.url" [alt]="network.name"><br>
                        <span>{{network.name}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="personal-portfolio">
        <div class="personal-portfolio_block">
            <div class="personal-portfolio_text">
                <span>Personal portfolio</span><br><br>
                <span>Don’t you have time to finish the drawing? Don’t worry!
                        You can always continue drawing by visiting your Personal
                        Portfolio. All works will be available in the original format
                        so you can always detail and improve your works.</span>
            </div>

            <div class="circ1"></div>
            <div class="circ2"></div>

            <div class="personal-portfolio_image">
                <img src="../../../assets/bg.png" alt="">
            </div>
        </div>
    </div>

    <div class="drawing-process">
        <div class="drawing-process_block">
            <div class="drawing-process_image">
                <img src="../../../assets/macbook.png" alt="">
            </div>
            <div class="circ1"></div>
            <div class="circ2"></div>

            <div class="drawing-process_text">
                <span>Drawing process</span><br><br>
                <span>Thanks to Video drawing you can capture the process
                        of creating your picture. Save your skills on your
                        memory cloud and share your success with friends!</span>
            </div>
        </div>
    </div>
</div>