//colors:
$white: #fff;
$blue: #2196f3;
$green: #7fc400;
$black-text: #041421;

.welcome-school  {
    background: url('../../../assets/welcome-school-bg.png') no-repeat center top;
    background-size: cover;
    padding: 110px 40px;
    .header-title {
        text-align: center;

        .header-title_main{
            font-size: 42px;
            line-height: 60px;
            font-family: "Work Sans";
            color: $white;
            font-weight: 600;
        }

        .header-title_secondary{
            font-size: 16px;
            line-height: 30px;
            font-family: "Open Sans";
            color: $white;
            padding: 30px 0;
        }
    }

    %header-button {
        width: 172px;
        height: 48px;
        border: none;
        border-radius: 24px;
        font-size: 16px;
        line-height: 18px;
        font-family: "Work Sans";
        font-weight: 600;
        margin: 0 10px 10px;
        outline: none;

        &:hover {
            box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.5);
        }
    }

    .pro {
        background-color: $white;
        color: $black-text;
        @extend %header-button;
    }

    .free{
        background-color: $green;
        color: $white;
        @extend %header-button;
    }
}

@media screen and (max-width: 1024px) {
    .welcome-school {
        .header-title {
            .header-title_main {
                font-size: 44px;
            }

            .header-title_secondary {
                font-size: 16px;
                padding: 30px 0;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .welcome-school {
        .header-title {
            .header-title_main {
                font-size: 36px;
            }

            .header-title_secondary {
                font-size: 14px;
                padding: 15px 0 30px;
            }
        }
    }
}
