<div class="welcome-school container-fluid">
    <div class="header-title">
        <span class="header-title_main">Welcome to the best art school</span>
        <div class="header-title_secondary">
            <span>Start drawing right now!</span>
        </div>
    </div>

    <div class="w-100 wrap flex-align-center">
        <button class="pro" (click)="openModal('pricing-plan')">Join Pro</button>
        <button [class.hide]="isActivated" class="free" (click)="openModal('pricing-plan')">Join Free</button>
    </div>
</div> 
<pricing-plan></pricing-plan>