<modal id="partner-modal">
        <div class="modal" >
            <div class="modal-body">
                <div class="close" (click)="closeModal('partner-modal')">
                    <img src="../../../assets/cancel.png" alt="close">
                </div>
                <h3>Become a Partner Today!</h3>
                <img src="../../../assets/line.png" alt=""><br>

                <form [formGroup]="form" (ngSubmit)="closeModal('partner-modal')">
                    <div class="input-text">
                        <label for="mail">Email*</label>
                        <input id="mail" formControlName="email" type="mail" required>
                    </div>
                    <div class="input-text">
                        <label class="nameLabel" for="firstName">First name*</label>
                        <label class="nameLabel" for="lastName">Last name*</label>
                    </div>
                    <div class="input-text">
                        <input id="firstName" formControlName="firstName" type="text" required>
                        <input id="lastName" formControlName="lastName" type="text" required>
                    </div>
                    <div class="input-text">
                        <label for="jobTitle">Job Title*</label>
                        <input id="jobTitle" formControlName="jobTitle" type="text" required>
                    </div>
                    <div class="input-text">
                        <label for="companyName">Company name*</label>
                        <input id="companyName" formControlName="companyName" type="text" required>
                    </div>
                    <div class="input-text">
                        <label for="country">Country*</label>
                        <input id="country" formControlName="country" type="text" required>
                    </div>
                    <div class="input-text">
                        <label for="url">Website URL</label>
                        <input id="url" formControlName="url" type="text">
                    </div>
                    <div class="input-text">
                        <label for="notes">Any note to Speed Painting team</label>
                        <textarea id="notes" formControlName="notes" type="text"></textarea>
                    </div>
                    <button type="submit" [ngClass]="{ disabled: !form.valid }" [disabled]="!form.valid">Send</button> 
                </form>
            </div>
        </div>
    </modal>