<modal id="pricing-plan">
    <div class="modal" >
        <div class="modal-body">
            <div class="close" (click)="closeModal('pricing-plan')">
                <img src="../../../assets/cancel.png" alt="close">
            </div>
            <h3>Pricing plan</h3>
            <img src="../../../assets/line.png" alt=""><br>
            <div class="wrap pricing-plan-section">
                <div class="category" *ngIf="!isActivated">
                    <div class="category_info">
                        <span class="state">Free</span><br>
                        <span class="currency">$</span>
                        <span class="cost">0</span>
                        <span class="mounth">/mounth</span>
                        <!--Advantage-->
                        <div>
                            <span class="advances active">Everyday Program</span><br>
                            <span class="advances active">Forum Suport</span><br>
                            <span class="advances inactive">Private Lessons</span><br>
                            <span class="advances inactive">Unlimited Projects</span><br>
                            <span class="advances inactive">250 GB of cloud storage</span><br>
                            <span class="advances inactive">Access to Optimal lessons</span><br>
                            <span class="advances inactive">Access to Plus lessons</span><br>
                            <span class="advances inactive">Access to PRO lessons</span>
                        </div>
                    </div>

                    <button class="signUp">Sign up</button>

                </div>
                <div class="category popular">
                    <div class="category_info">
                        <span class="state">Optimal</span><br>
                        <span class="currency">$</span>
                        <span class="cost">9</span>
                        <span class="mounth">/mounth</span>
                        <!--Advantage-->
                        <div>
                            <span class="advances active">Everyday Program</span><br>
                            <span class="advances active">Forum Suport</span><br>
                            <span class="advances active">Private Lessons</span><br>
                            <span class="advances active">Unlimited Projects</span><br>
                            <span class="advances active">250 GB of cloud storage</span><br>
                            <span class="advances active">Access to Optimal lessons</span><br>
                            <span class="advances inactive">Access to Plus lessons</span><br>
                            <span class="advances inactive">Access to PRO lessons</span>
                        </div>
                    </div>

                    <button>Calculate your price</button>

                </div>
                <div class="category">
                    <div class="category_info">
                        <span class="state">Plus</span><br>
                        <span class="currency">$</span>
                        <span class="cost">19</span>
                        <span class="mounth">/mounth</span>
                        <!--Advantage-->
                        <div>
                            <span class="advances active">Everyday Program</span><br>
                            <span class="advances active">Forum Suport</span><br>
                            <span class="advances active">Private Lessons</span><br>
                            <span class="advances active">Unlimited Projects</span><br>
                            <span class="advances active">250 GB of cloud storage</span><br>
                            <span class="advances active">Access to Optimal lessons</span><br>
                            <span class="advances active">Access to Plus lessons</span><br>
                            <span class="advances inactive">Access to PRO lessons</span>
                        </div>
                    </div>

                    <button>Calculate your price</button>

                </div>
                <div class="category">
                    <div class="category_info">
                        <span class="state">PRO</span><br>
                        <span class="currency">$</span>
                        <span class="cost">59</span>
                        <span class="mounth">/mounth</span>
                        <!--Advantage-->
                        <div>
                            <span class="advances active">Everyday Program</span><br>
                            <span class="advances active">Forum Suport</span><br>
                            <span class="advances active">Private Lessons</span><br>
                            <span class="advances active">Unlimited Projects</span><br>
                            <span class="advances active">250 GB of cloud storage</span><br>
                            <span class="advances active">Access to Optimal lessons</span><br>
                            <span class="advances active">Access to Plus lessons</span><br>
                            <span class="advances active">Access to PRO lessons</span>
                        </div>
                    </div>

                    <button>Calculate your price</button>

                </div>
            </div>
        </div>
    </div>
</modal>