<div class="information-bg">
    <div class="information_section">
        <div class="main-content">
            <div>
                <span>About me</span>
                <div>
                    <span>UI/UX Designer with 3+ years of experience in designing websites,
                         mobile apps and corporate identity. Strong skills in user interface 
                         design, user experience and also i have skills of drawing with different styles.</span>
                </div>
            </div>
            <div>
                <span>Contacts</span>
                <div>
                    <span>skype: maxim_stelmach</span><br>
                    <span>email: stelmach.maxim@gmail.com</span><br>
                    <span>website: www.creative.com</span><br>
                </div>
            </div>
            <div>
                <span>Social networks</span>
                <div class="social-icons">
                    <img src="../../../assets/v-social-icon.png" alt="Logo">
                    <img src="../../../assets/be-social-icon.png" alt="Logo">
                    <img src="../../../assets/3-social-icon.png" alt="Logo">
                    <img src="../../../assets/4-social-icon.png" alt="Logo">
                    <img src="../../../assets/5-social-icon.png" alt="Logo">
                    <img src="../../../assets/6-social-icon.png" alt="Logo">
                    <img src="../../../assets/7-social-icon.png" alt="Logo">
                    <img src="../../../assets/8-social-icon.png" alt="Logo">
                </div>
            </div>
        </div>
        <div class="addInform">
            <button><span>Add information</span></button>
        </div>
    </div>
</div>