<div class="slider pt140">
    <div class="left-slide" [style.backgroundImage]="'url('+ courses[previousNumberOfSlide].url +')'"
        (click)="clickLeft()">
        <div class="slide_bg"></div>
        <div class="layer">
            <div class="array left"></div>
        </div>
    </div>

    <div class="center-slide">
        <div class="w100">
            <h1>{{courses[numberOfSlide].nameCourse}}</h1>
            <span>{{courses[numberOfSlide].lesson}}</span>
        </div>
        <div class="slide" [style.backgroundImage]="'url('+ courses[numberOfSlide].url +')'">
            <!--Content of image block-->
            <div class="flex-align-start space-between wrap w-100">
                <div class="category-section">
                    <div *ngFor="let categ of courses[numberOfSlide].category; let i=index" class="inline">
                        <div class="category">
                            <span>{{categ}}</span>
                        </div>
                    </div>
                </div>

                <div class="status" [ngClass]="courses[numberOfSlide].status">
                    <span>{{courses[numberOfSlide].status}}</span>
                </div>
            </div>
            <div class="array-section">
                <div class="array left" (click)="clickLeft()"></div>
                <a class="playHover" href="javascript:void(0);">
                    <div></div>
                </a>
                <div class="array right" (click)="clickRight()"></div>
            </div>
            <div class="flex-align-end space-between w-100">
                <div class="totalTime">
                    <span>{{courses[numberOfSlide].totalTime}}</span>
                </div>
            </div>
            <!--End Content of image block-->
        </div>

        <div class="sharebutton pt20">
            <span>Share the video:</span>
            <a href="javascript:void(0);">
                <div class="facebook"></div>
            </a>
            <a href="javascript:void(0);">
                <div class="twitter"></div>
            </a>
            <a href="javascript:void(0);">
                <div class="linkedn"></div>
            </a>
            <a href="javascript:void(0);">
                <div class="instagram"></div>
            </a>
        </div>
    </div>

    <div class="right-slide" [style.backgroundImage]="'url('+ courses[nextNumberOfSlide].url +')'"
        (click)="clickRight()">
        <div class="slide_bg"></div>
        <div class="layer">
            <div class="array right"></div>
        </div>
    </div>
</div>
<div style="display: none" *ngFor="let course of courses">
        <img [src]="course.url" alt="">
      </div>