$white: #fff;
$blue: #2196f3;
$green: #7fc400;
$black-text: #041421;
$grey: #b9b8bc;
$dark-grey: #69727c;

.comments  {
    padding: 110px 40px;

    .header-title {
        text-align: center;

        .header-title_main{
            font-size: 42px;
            line-height: 60px;
            font-family: "Work Sans";
            color: $black-text;
            font-weight: 600;
        }
    }

    .comments-section {

        .comment {
            display: flex;
            justify-content: center;
            padding: 80px 0 15px;
            align-items: center;
            min-height: 200px;

            span {
                display: block;
                width: 50%;
                text-align: center;
                font-style: italic;
                color: $dark-grey;
                font-size: 1.2rem;
            }

            %quotation-mark{
                content: "";
                display: inline-block;
                width: 20px;
                height: 20px;
            }

            ::before {
                @extend %quotation-mark;
                background: url('../../../assets/quotation-mark-before.png') no-repeat;
                background-size: contain;
                margin-right: 10px;
            }
    
            ::after {
                @extend %quotation-mark;
                background: url('../../../assets/quotation-mark-after.png') no-repeat;
                background-size: contain;
                margin-left: 10px;
            }
        }

        %navigation {
            width: 60px;
            height: 60px;
            border: none;
            transition: background 0.2s;
            outline: none;
        }

        .previous-btn {
            @extend %navigation;
            background: url('../../../assets/previous-btn.png') no-repeat;
            transition: all 0.5s;

            &:hover {
                background: url('../../../assets/previous-btn-hover.png') no-repeat;
            }
        }

        .next-btn {
            @extend %navigation;
            background: url('../../../assets/next-btn.png') no-repeat;
            transition: all 0.5s;

            &:hover {
                background: url('../../../assets/next-btn-hover.png') no-repeat;
            }
        }

        .commentator {
            padding: 10px 65px;

            %photo {
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin: 0 15px;
            }

            .photo-small {
                @extend %photo;
                height: 35px;
                width: 35px;
                opacity: 0.6;
            }

            .photo-large {
                @extend %photo;
                height: 115px;
                width: 115px;
                text-align: center;

                .status {
                    display: inline-block;
                    padding: 3px 10px;
                    border-radius: 6px;
                    color: $white;
                    position: relative;
                    top: 100px;
                }
            
                .status.PRO {
                    background: #2196f3;
                }
            
                .status.Plus {
                    background: #c46cd8;
                }
            
                .status.Free {
                    background: #7fc400;
                }
            
                .status.Optimal {
                    background: #5c4af7;
                }
            
                .comentator-name{
                    display: block;
                    color: $grey;
                    bottom: 15px;
                    position: relative;
                    text-align: center;
                    top: 120px;
            
                    .author{
                        font: 14px 'Open Sans', sans-serif;
                        font-weight: bold;
                        color: $black-text;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .comments{
        .comments-section{
            .commentator{
                padding: 10px 0px;

                .photo-small{
                    display: none;
                }
            }

            %small-btn {
                width: 40px;
                height: 40px;
                background-size: contain;
            }

            .previous-btn, .next-btn{
                @extend %small-btn;

                &:hover{
                    @extend %small-btn;
                }
            }
        }
    }
}