<div class="user-inform-bg">
        <div class="user-inform_section pr40 pl40">
          <div class="user-logo">
            <div class="user-logo_photo">            
                <img src="../../../assets/user-logo.png" alt="logo">
                <div class="status PRO"><span>PRO</span></div>
            </div>

            <div class="user-logo_name">
                <span>Sylvain Sarrailh</span><br>
                <span>Concept artist, Freelance</span><br>
                <span class="location">Toulouse, France</span><br>
            </div>
          </div>
          <div class="statistic">
            <div class="statistic_element">
                <div><span>Account views</span></div>
                <div><span class="views">144,377</span></div>
            </div>
            <div class="statistic_element">
                <div><span>Appreciations</span></div>
                <div class="appreciations"><span>23,195</span></div>
            </div>
            <div class="statistic_element">
                <div><span>Following</span></div>
                <div class="following"><span>320</span></div>
            </div>
            <div class="statistic_element">
                <div><span>Followers</span></div>
                <div class="followers"><span>982</span></div>
            </div>
          </div>
          <div class="countProject">
                <div class="countProject_element">
                    <div><span>My courses</span></div>
                    <div><span>43</span></div>
                </div>
                <div class="countProject_element">
                    <div><span>My project</span></div>
                    <div><span>12</span></div>
                </div>
          </div>
      </div>
    </div>