/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import '~@ngx-share/button/themes/default/default-theme';

.w30{
    width: 30%;
}

.w25{
    width: 25%;
}

.w75 {
    width: 75%;
}

.w100 {
    width: 100%;
}

.p0 {
    padding: 0;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.pt70 {
    padding-top: 70px;
}

.pt140 {
    padding-top: 140px;
}

.pt250 {
    padding-top: 250px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb50{
    padding-bottom: 50px;
}

.pr40 {
    padding-right: 40px;
}

.pl10 {
    padding-left: 10px;
}

.pl40{
    padding-left: 40px;
}

.m0 {
    margin: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.ml12 {
    margin-left: 12%;
}

.center-text {
    text-align: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-end {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-align-start {
    display: flex;
    align-items: flex-start;
}

.bold {
    font-weight: bold;
}

h2 {
    font-size: 42px;
    font-weight: 600;
}

h6 {
    font-size: 16px;
    font-weight: 400px;
}

.hide {
    display: none;
}

.inline {
    display: inline-block;
}



//carousel
.owl-carousel {
    width: 100% !important;
    margin: 0;
    z-index: 0 !important;
  }
   
  .owl-carousel .owl-nav {
    overflow: hidden;
    height: 0px;
  }
   
  .owl-carousel .nav-btn {
    height: 60px;
    position: absolute;
    width: 60px;
    cursor: pointer;
    top: 30% !important;
  }
   
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
   
  .owl-carousel .prev-slide {
    background: url(./assets/left-nav-icon.png) no-repeat;
    opacity: 0.2;
    left: -70px;
  }
   
  .owl-carousel .next-slide {
    background: url(./assets/right-nav-icon.png) no-repeat;
    opacity: 0.2;
    right: -70px;
  }
   
  .owl-carousel .prev-slide:hover {
    opacity: 1;
  }
   
  .owl-carousel .next-slide:hover {
    opacity: 1;
  }

  .owl-carousel.owl-drag .owl-item {
    display: flex;
    justify-content: center;
  }
 

  @media screen and (max-width: 767px) {
    h2 {
       font-size: 36px;
    }

    h6 {
        font-size: 14px;
    }
}