$bg: #f6f6f6;
$blue: #2196f3;

.information-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg;
    padding: 40px;

    .information_section {
        width: 1170px;
        border-radius: 6px;
        background-color: white;
        padding: 30px 25px;
        border-radius: 6px;
        box-shadow: 0 0 3px rgba(0,0,0,0.12);

        .main-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 50px;

            div {
                width: 320px;

                span {
                    font-size: 18px;
                    line-height: 42px;
                    color: #041421;
                    font-family: "Work Sans";
                    font-weight: 600;
                }

                div {
                    span {
                        font-size: 14px;
                        color: #6a696f;
                        font-weight: 400;
                        line-height: 24px;
                    }
                }

                .social-icons {
                    
                    img {
                        padding-right: 10px;
                        cursor: pointer;
                    }
                }
            }

            @media screen and (max-width: 768px){
                div {
                    width: 100%;
            
                }
            }
        }

        .addInform {
            text-align: center;

            button {
                padding: 15px 20px;
                font-size: 16px;
                line-height: 18px;
                color: #c1c1c1;
                font-family: "Work Sans";
                font-weight: 600;
                background: transparent;
                border-radius: 30px;
                border: 2px solid #dcdcdd;
                outline: none;
                transition: all 0.2s;

                &:hover {
                   border: 2px solid $blue;
                }

                span {
                    &::before {
                        content: "";
                        display: inline-block;
                        background: url('../../../assets/add-information.png') no-repeat;
                        width: 17px;
                        height: 19px;
                        margin-right: 5px;
                    }
                }
            }
        }

    }
}