<div class="header-title pr40 pl40">
    <div>
        <h2>Online courses of drawing and painting</h2>
        <h6>All courses are created on the basis of academic programs including deep theoretical knowledge and practice.
        </h6>
    </div>
</div>

<div class="filtration">
    <div class="search-hero">
        <div class="search">
            <div class="styled-select">
                <select class="custom-select" (change)="changeLevel($event)">
                    <option>All levels</option>
                    <option *ngFor="let level of LevelsDropdown; let i=index" [ngValue]="level">{{level}}</option>
                </select>
            </div>
            <div class="styled-select">
                <select class="custom-select" (change)="changeCategory($event)">
                    <option>All category</option>
                    <option *ngFor="let category of CategoryDropdown; let i=index" [ngValue]="category">{{category}}
                    </option>
                </select>
            </div>
            <div class="styled-select">
                <select class="custom-select" (change)="changeStatus($event)">
                    <option>Course status</option>
                    <option *ngFor="let status of StatusDropdown; let i=index" [ngValue]="status">{{status}}</option>
                </select>
            </div>
        </div>
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Enter course name...">
    </div>
</div>

<div class="courses container-fluid pr40 pl40">
    <div class="courses-container">
        <div *ngFor="let course of courses| filterData: {nameCourse: searchText, level: searchLevel, category:searchCategory, status:searchStatus}; let i=index"
            class="flex-align-center showHover">
            <div *ngIf="!searchText && !searchLevel && !searchCategory && !searchStatus ? i<=limit : true"
                class="course-image" [style.backgroundImage]="'url('+ course.url +')'">
                <!--Content of image block-->
                <div class="flex-align-start space-between w-100">
                    <div class="category-section">
                        <div *ngFor="let categ of course.category; let i=index" class="inline">
                            <div class="category">
                                <span>{{categ}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="status" [ngClass]="course.status">
                        <span>{{course.status}}</span>
                    </div>
                </div>
                <div class="flex-align-end space-between w-100">
                    <div class="nameCourse">
                        <span>{{course.nameCourse}}</span><br>
                        <span class="author">{{course.author}}</span>
                    </div>
                    <div class="totalTime">
                        <span>{{course.totalTime}}</span>
                    </div>
                </div>
            </div>

            <div *ngIf="!searchText && !searchLevel && !searchCategory && !searchStatus ? i<=limit : true" class="course-image-hover"> 
                <a class="countOfLessons" [routerLink]="'/course'">
                    <span>{{course.count}}</span>
                </a>
            </div>
        </div>

        <div *ngIf="!searchText && !searchLevel && !searchCategory && !searchStatus" class="show-section w100">
            <button class="show-button"
                (click)="show()">{{limit == courses.length? 'Less courses' : 'More courses'}}</button>
        </div>
    </div>
</div>

<div *ngFor="let course of courses" style="display: none">
    <img [src]="course.url" alt="">
</div>