//colors:
$bg: #292731;
$white: #fff;
$blue: #2196f3;
$green: #7fc400;
$black-text: #041421;

.aboutCourse {
  display: flex;
  justify-content: center;

  .aboutCourse_container {
    width: 1170px;

    .aboutCourse-section {
      img {
        margin-bottom: 0.5rem;
      }

      .secondary-text {
        font-size: 16px;
        line-height: 32px;
        color: #041421;
        font-family: "Work Sans";
        font-weight: 400;
        margin-bottom: 35px;
      }
    }

    .advantage {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-size: 14px;
      line-height: 24px;
      color: #042037;
      font-family: "Open Sans";
      font-weight: 400;
      padding-top: 50px;
      padding-bottom: 50px;

      .advantage-section {
        width: 475px;

        .advantage-section_single {
          display: flex;
          align-items: center;
          padding-bottom: 30px;

          span {
            font-size: 14px;
            line-height: 24px;
            color: #042037;
            font-family: "Open Sans";
            font-weight: 400;
          }

          .round {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid #2196f3;
            font-size: 18px;
            color: #2196f3;
            font-family: "Open Sans";
            margin-right: 10px;
            padding: 0 15px;
          }
        }
      }

      @media screen and (max-width: 1029px) {
        .advantage-section {
          width: 100%;
        }
      }
    }
  }
}

.teacher {
  background-color: #2d2b35;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .teacher-container {
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
    font-family: "Work Sans";
    font-weight: 600;
    text-align: center;
    padding-bottom: 55px;
    width: 100%;
  }

  .teacher-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1170px;
    .teacher-section_about {
      width: 675px;
      padding-right: 90px;
      padding-bottom: 75px;
      h3 {
        font-size: 26px;
        line-height: 42px;
        color: #ffffff;
        font-family: "Work Sans";
        font-weight: 600;
      }

      span {
        display: block;
        font-size: 18px;
        line-height: 30px;
        color: #ffffff;
        font-family: "Open Sans";
        font-weight: 400;
      }

      .category {
        display: block;
        font-size: 16px;
        line-height: 16px;
        color: #b9b8bc;
        font-family: "Open Sans";
        font-weight: 400;
      }
    }

    .teacher-section_photo {
      width: 300px;
      height: 400px;
      background-color: #ffffff;
      background: url("../../../assets/teacher-photo.png") no-repeat 0 15%;
      background-size: cover;
    }
  }

  @media screen and (max-width: 1141px) {
    .teacher-section {
      .teacher-section_about {
        width: calc(100% - 300px);
      }
    }
  }

  @media screen and (max-width: 768px) {
    .teacher-section {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;

      .teacher-section_about {
        width: 100%;
        padding-right: 0;
      }
    }
  }
}

.watched {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 70px;
  .watched-container {
    text-align: center;

    .course-image {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      width: 325px;
      height: 232px;
      border-radius: 6px;
      background-position: center;
      background-size: cover;
      margin: 7.5px;
      padding: 20px;
      cursor: pointer;

      div {
        .category-section {
          .category {
            display: inline-block;
            padding: 3px 10px;
            color: $white;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 6px;
            margin-right: 10px;
            margin-bottom: 5px;
          }
        }

        .status {
          display: inline-block;
          float: right;
          padding: 3px 10px;
          border-radius: 6px;
          color: $white;
        }

        .status.PRO {
          background: $blue;
        }

        .status.Plus {
          background: #c46cd8;
        }

        .status.Free {
          background: $green;
        }

        .status.Optimal {
          background: #5c4af7;
        }
      }

      .nameCourse {
        display: block;
        color: $white;
        text-align: left;
        font-size: 14px;

        .author {
          font: 14px "Open Sans", sans-serif;
          color: #b9b8bc;
        }
      }

      .totalTime {
        width: 40px;
        height: 18px;
        border-radius: 4px;
        background-color: #232128;
        font-size: 10px;
        color: #b9b8bc;
        font-family: "Open Sans";
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    @media screen and (max-width: 1023px) {
      .course-image {
        width: 325px;
        height: 210px;
      }
    }

    @media screen and (max-width: 767px) {
      .course-image {
        width: 520px;
        height: 405px;
      }
    }

    @media screen and (max-width: 599px) {
      .course-image {
        width: 340px;
        height: 225px;
      }
    }

    @media screen and (max-width: 424px) {
      .course-image {
        width: 295px;
        height: 195px;

        div {
          .category-section {
            font-size: 14px;

            .status {
              font-size: 14px;
              padding: 0 10px;
            }
          }
        }
      }
    }

    @media screen and (max-width: 374px) {
      .course-image {
        width: 240px;
        height: 170px;
      }
    }
  }
}