<div class="online-courses container-fluid pr40 pl40">
  <div class="online-courses-container">
    <span class="online-courses_title">Online courses of drawing</span><br>
    <img src="../../../assets/line.png" alt=""><br>
    <span class="online-courses_subTitle">Our courses will suitable both beginners and professionals.</span>
      <div class="pb50">
        <div class="course-section w-100" >
          <div class="flex-align-center wrap w-100">
              <div *ngFor="let cour of courses; let key=index" class="course-image_small_parent flex-align-center">
                  <div *ngIf="key<2" class="course-image_main" [style.backgroundImage]="'url('+ cour.url +')'" [routerLink]="'/course'">
                    <div class="flex-align-start space-between w-100">
                      <div class="category-section">
                        <div *ngFor="let categ of cour.category; let i=index">
                            <div class="category">
                              <span>{{categ}}</span>
                            </div>
                          </div>
                      </div>
                    
                      <div class="status" [ngClass]="cour.status">
                          <span>{{cour.status}}</span>
                      </div>
                    </div>
                
                    <div class="nameCourse">
                        <span>{{cour.nameCourse}}</span><br>
                        <span class="author">{{cour.author}}</span>
                    </div>
                  </div>
              </div>
          </div>
        
          <div *ngFor="let course of courses | slice:2; let i=index" class="course-image_small_parent flex-align-center">
              <div *ngIf="i<limit" class="course-image_small" [style.backgroundImage]="'url('+ course.url +')'" [routerLink]="'/course'">
                <!--Content of image block-->
                <div class="flex-align-start space-between w-100" >
                  <div class="category-section">
                    <div *ngFor="let categ of course.category; let i=index">
                      <div class="category">
                        <span>{{categ}}</span>
                      </div>
                    </div>
                  </div>
            
                  <div class="status" [ngClass]="course.status">
                      <span>{{course.status}}</span>
                  </div>
                </div>
                <div class="nameCourse">
                    <span>{{course.nameCourse}}</span><br>
                    <span class="author">{{course.author}}</span>
                </div>
              </div>
          </div>
        </div>
    
        <div class="show-section w100">
            <button class="show-button" (click)="show()">{{limit > 16 ? 'Less courses' : 'More courses'}}</button>
        </div>
    </div>
  </div>
</div>
<div *ngFor="let course of courses" style="display: none">
  <img [src]="course.url" alt="">
</div>