//colors:
$white: #fff;
$blue: #2196f3;
$green: #7fc400;
$black-text: #041421;

.why-speed-painting  {
    display: flex;
    justify-content: center;

    .why-speed-painting-container{
        width: 100%;
        max-width: 1170px;

        .header-title {
            text-align: center;
            padding-top: 110px;

            .header-title_main{
                font-size: 42px;
                line-height: 60px;
                font-family: "Work Sans";
                color: $black-text;
                font-weight: 600;
            }

            .header-title_secondary{
                font-size: 16px;
                line-height: 30px;
                font-family: "Open Sans";
                color: $black-text;
                padding: 45px 0;
            }

            img {
                padding: 30px 0 0;
            }
        }

        .reasons {
            padding: 0 30px 110px;

            .reasons-block{
                text-align: center;
                width: 33.3%;
                padding: 30px;

                .reasons-block_img {
                    height: 65px;
                }

                .reasons-block_header {
                    font-weight: bold;
                }

                .reasons-block_text {
                    font-weight: 400;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .why-speed-painting  {
        .why-speed-painting-container{
            .reasons {
                .reasons-block{
                    width: 100%;
                }
            }  
        }  
    }
}