$blue: #2196f3;
$green: #7fc400;
$bg: #f6f6f6;

.courses-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg;
    padding: 0 40px;

    .courses {
        width: 100%;
        max-width: 1170px;

        .main-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: 50px;

            div {

                .course-image {
                    position: relative;
                    background-position: center;
                    background-size: cover;
                    margin: 7.5px;
                    padding: 20px;
                    cursor: pointer;
                    transition: all 0.2s;
                    width: 350px;
                    height: 350px;
                
                    &:hover {
                        box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.5);
                        bottom: 2px;
                    }

                    .category-section {
                        width: 75%;

                        div {
                            display: inline-block;

                            .category {
                                display: inline-block;
                                padding: 3px 10px;
                                color: white;
                                background: rgba(0, 0, 0, 0.3);
                                border-radius: 6px;
                                margin-right: 10px;
                                margin-bottom: 5px;
                                font-size: 10px;
                                font-family: "Open Sans";
                                font-weight: 700;
                            }
                        }
                    }

                    .status {
                        padding: 0px 5px;
                        border-radius: 6px;
                        font-size: 10px;
                        line-height: 22px;
                        color: white;
                        font-family: "Open Sans";
                        font-weight: 700;
                        text-align: center;
                    }
            
                    .status.PRO {
                        background: $blue;
                    }
            
                    .status.Plus {
                        background: #c46cd8;
                    }
            
                    .status.Free {
                        background: $green;
                    }
            
                    .status.Optimal {
                        background: #5c4af7;
                    }
                }
            }

            .nameCourse {
                font-size: 18px;
                line-height: 18px;
                color: #fefeff;
                font-family: "Work Sans";
                font-weight: 600;
                display: block;
                bottom: 15px;
                position: absolute;
                text-align: left;
    
                .author {
                    font: 14px 'Open Sans', sans-serif;
                    color: #b9b8bc;
                }
            }

            @media screen and (min-width: 320px) {
                div {
                    .course-image {
                        width: 240px;
                        height: 240px;
                    }
                }
            }

            @media screen and (min-width: 375px) {
                div {
                    .course-image {
                        width: 295px;
                        height: 295px;
                    }
                }
            }

            @media screen and (min-width: 425px) {
                div {
                    .course-image {
                        width: 345px;
                        height: 345px;
                    }
                }
            }

            @media screen and (min-width: 768px) {
                div {
                    .course-image {
                        width: 329px;
                        height: 329px;
                    }
                }
            }

            @media screen and (min-width: 1024px) {
                div {
                    .course-image {
                        width: 299px;
                        height: 299px;
                    }
                }
            }

            @media screen and (min-width: 1170px) {
                div {
                    .course-image {
                        width: 348px;
                        height: 348px;
                    }
                }
            }
        }
    }
}