$bg: #f6f6f6;

.projects-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg;
    padding: 100px 40px 50px;

    .projects {
        width: 100%;

        .projects-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
 
            .project-item {   
                width: 256px;
                border-radius: 6px;
                box-shadow: 0 0 3px rgba(0,0,0,0.12);
                background: white;
                margin: 10px;
                
                .project-image {
                    height: 210px;
                    background-repeat: no-repeat;
                    border-radius: 6px 6px 0 0;
                    padding: 15px 15px 0;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;

                    %project-image-icon {
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0 0 3px rgba(0,0,0,0.13);
                        background-color: white;
                        float: right;
                        cursor: pointer;
                    }

                    .share-course {
                        @extend %project-image-icon;
                        width: 34px;
                        height: 34px;
                        border-radius: 17px;
                        margin-right: 10px;
                        top: 15px;
                    }

                    .play-course {
                        @extend %project-image-icon;
                        width: 42px;
                        height: 42px;
                        border-radius: 21px;
                        top: 20px;
                    }
                }

                .project-text {
                    padding: 15px;

                    .project-name {
                        font-size: 14px;
                        line-height: 18px;
                        color: #1c1a22;
                        font-family: "Work Sans";
                        font-weight: 600;
                    }

                    .project-user {
                        padding: 15px 0;

                        img {
                            width: 42px;
                            height: 42px;
                            border-radius: 21px;
                            box-shadow: 0 0 3px rgba(0,0,0,0.13);
                            background-color: white;
                            margin-right: 10px;
                        }

                        span {
                            font-size: 14px;
                            line-height: 22px;
                            color: #1c1a22;
                            font-family: "Open Sans";
                            font-weight: 400;
                        }
                    }

                    .project-social {
                        font-size: 12px;
                        line-height: 22px;
                        color: #b9b8bc;
                        font-family: "Open Sans";
                        font-weight: 600;

                        span {
                            margin-right: 15px;
                            display: inline-flex;
                            align-items: center;
                        }

                        .revision {
                            
                            &::before {
                                content: "";
                                display: inline-block;
                                margin-right: 5px;
                                background: url('../../../assets/views.png') no-repeat;
                                background-size: cover;
                                width: 19px;
                                height: 12px;
                               
                            }
                        }

                        .like {

                            &::before {
                                content: "";
                                display: inline-block;
                                margin-right: 5px;
                                background: url('../../../assets/appreciations.png') no-repeat;
                                background-size: cover;
                                width: 13px;
                                height: 12px;
                            }
                        }

                        .comment {

                            &::before {
                                content: "";
                                display: inline-block;
                                margin-right: 5px;
                                background: url('../../../assets/comment.png') no-repeat;
                                background-size: cover;
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}