<div class="why-speed-painting container-fluid pr40 pl40">
    <div class="why-speed-painting-container">
        <div class="header-title">
            <span class="header-title_main">Why Speed Painting</span><br>
            <img src="../../../assets/line.png" alt=""><br>
            <div class="header-title_secondary">
                <span>All courses are created on the basis of academic programs including deep theoretical knowledge and practice.</span>
            </div>
        </div>
        <div class="reasons wrap">
            <div class="reasons-block">
                <img src="../../../assets/availability.png" alt="" class="reasons-block_img"><br><br>
                <span class="reasons-block_header">Availability</span><br><br>
                <span class="reasons-block_text">The advantage of our program is the possibility to combine training and work, as the courses are available 
                    in any convenient place and at any time.</span>
            </div>
            <div class="reasons-block">
                <img src="../../../assets/community.png" alt="" class="reasons-block-img"><br><br>
                <span class="reasons-block_header">Community of artists</span><br><br>
                <span class="reasons-block_text">In addition, you can meet new friends of like-minded people, gain experience from professionals or share
                        your achievements.</span>
            </div>
            <div class="reasons-block">
                <img src="../../../assets/schools.png" alt="" class="reasons-block-img"><br><br>
                <span class="reasons-block_header">Schools and Universities</span><br><br>
                <span class="reasons-block_text">Courses are developed by certified teachers on the basis of academic programs, including deep theoretical knowledge and practice.</span>
            </div>
        </div>
    </div>
</div>