$bg: #f6f6f6;
$blue: #2196f3;
$bold-text:#1c1a22;
$grey-text: #6a696f;

.user-inform-bg {
    background: $bg;
    padding: 40px;
    display: flex;
    justify-content: center;

    .user-inform_section {
        display: flex;
        width: 1170px;
        align-items: baseline;
        justify-content: space-between;
        flex-wrap: wrap;
        background: white;
        padding: 25px;


        .user-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            
            @media screen and (max-width: 671px) {
                justify-content: center;
                width: 100%;
            }

            .user-logo_photo {
                
                img {
                    width: 110px;
                    height: 110px;
                    border-radius: 55px;
                    margin-right: 25px;
                }

                .status.PRO {
                    position: relative;
                    bottom: 15px;
                    left: 25px;
                    width: fit-content;
                    padding: 3px 10px;
                    border-radius: 6px;
                    color: white;
                    background: $blue;
                }
            }

            %userNameFont {
                line-height: 25px;
                color: $bold-text;
                font-family: "Open Sans";
                font-weight: 600;
            }

            .user-logo_name {
                span:nth-child(1) {
                    @extend %userNameFont;
                    font-size: 18px;
                }

                span:nth-child(3) {
                    @extend %userNameFont;
                    font-size: 14px;
                }

                span:nth-child(5) {
                    @extend %userNameFont;
                    font-size: 14px;
                    color: $grey-text;
                    font-weight: 400;

                    &::before {
                        content: "";
                        display: inline-block;
                        background: url('../../../assets/location.png') no-repeat;
                        width: 10px;
                        height: 18px;
                        padding-right: 15px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }

        .statistic {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            .statistic_element {
                padding: 0 20px;

                @media screen and (max-width: 671px) {
                    width: 50%;
                }

                @media screen and (max-width: 435px) {
                    width: 100%;
                }
            
                div:nth-child(1) {
                    font-size: 15px;
                    line-height: 42px;
                    color: #232128;
                    font-family: "Work Sans";
                    font-weight: 600;
                    text-align: center;
                }

                div:nth-child(2) {
                    font-size: 14px;
                    color: $grey-text;
                    font-family: "Open Sans";
                    text-align: right;
                    padding: 5px;

                    @media screen and (max-width: 671px) {
                        text-align: center;
                    }

                }

                %before {
                    content: "";
                    display: inline-block;
                    height: 27px;
                    position: relative;
                    top: 9px;
                    margin-right: 10px;
                }

                .views {
                    &::before {
                        @extend %before;
                        background: url('../../../assets/views.png') no-repeat;
                        width: 40px;
                    }
                }

                .appreciations {
                    &::before {
                        @extend %before;
                        background: url('../../../assets/appreciations.png') no-repeat;
                        width: 27px;
                    }
                }

                .following {
                    &::before {
                        @extend %before;
                        background: url('../../../assets/following.png') no-repeat;
                        width: 32px;
                    }
                }

                .followers {
                    &::before {
                        @extend %before;
                        background: url('../../../assets/followers.png') no-repeat;
                        width: 32px;
                    }
                }
            }
        }

        .countProject {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 671px) {
                width: 100%;
                justify-content: center;
            }

            .countProject_element {
                padding: 0 20px;

                div:nth-child(1) {
                    font-size: 15px;
                    line-height: 42px;
                    color: #232128;
                    font-family: "Work Sans";
                    font-weight: 600;
                    text-align: center;
                }

                div:nth-child(2) {
                    font-size: 36px;
                    color: $blue;
                    font-family: "Open Sans";
                    padding: 5px;
                    text-align: center;
                }
            }
        }
    }
}