/* MODAL STYLES
-------------------------------*/
modal {
    /* modals are hidden by default */
    display: none;

    .modal {
        display: block;
        position: fixed;
        z-index: 1000;
        overflow: auto;


        .modal-body {
            display: flex;
            float: right;
            top: 70px;
            height: 50px;
            width: 250px;
            padding: 0px;
            position: relative;
            justify-content: space-between;
            background: #fff;
            align-items: center;
            
            %btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
                border: none;
                font-size: 16px;
                line-height: 18px;
                font-family: "Work Sans";
                font-weight: 600;
                outline: none;
            }

            .profile_btn {
                @extend %btn;
                background: #fff;
                color: #232128;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    background: url('../../../assets/my-profile.png') no-repeat;
                    background-size: cover;
                }

                &:hover {
                    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
                }
            }

            .logout_btn {
                @extend %btn;
                background: #dc3545;
                color: #fff;

                &::before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                    background: url('../../../assets/logout.png') no-repeat;
                    background-size: cover;
                }

                &:hover {
                    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
                }
            }
        }
    }
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}